{% extends "userapp/base.html" %}
{% block title %}ログイン画面{% endblock title %}

{% block header %}
<div class>
    <h1>ログイン</h1>
</div>
{% endblock header %}

{% block content %}
<form method="post" class="login-form">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {% if form.username.help_text %}
            <small style="color: grey">{{ form.username.help_text }}</small>
        {% endif %}
        {% for error in form.username.errors %}
            <small style="color: red">{{ error }}</small>
        {% endfor %}
    </p>
    
    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {% if form.password.help_text %}
            <style="color: grey">{{ form.password.help_text }}</style>
        {% endif %}
        {% for error in form.password.errors %}
            <style="color: red">{{ error }}</style>
        {% endfor %}
    </p>
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>


<p>アカウントを持っていない方はこちらから<a href="{% url 'signup' %}">新規登録</a>をしてください。</p>

<!-- ホーム画面へのリンク -->
<a href="{% url 'home' %}" class="btn btn-secondary">戻る</a>
{% endblock content %}