{% extends "base.html" %}
{% block title %}ログイン画面{% endblock title %}

{% block header %}
<div class>
    <h1>ログイン</h1>
</div>
{% endblock header %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {% for error in form.username.errors %}
            <small style="color: red">{{ error }}</small>
        {% endfor %}
    </p>
    
    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {% for error in form.password.errors %}
            <small style="color: red">{{ error }}</small>
        {% endfor %}
    </p>
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>


<p>アカウントを持っていない方はこちらから<a href="{% url 'UserApp:signup' %}">新規登録</a>をしてください。</p>

<!-- ホーム画面へのリンク -->
<a href="{% url 'TaskApp:home' %}" class="btn btn-secondary">戻る</a>
{% endblock content %}