{% extends "taskapp/task_base.html" %}
{% block title %}編集画面{% endblock title %}

{% block header %}
<div>
    <strong>"{{ request.user }}" さん</strong>
    <h1>Update</h1>
</div>
{% endblock header %}

{% block content %}
<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" value="更新" style="margin-bottom: 16px;">更新</button>
</form>
<a href="{% url 'list' %}" style="display: block; margin-top: 1em;">戻る</a>

{% endblock content %}