{% extends "task_base.html" %}
{% block title %}詳細画面{% endblock title %}

{% block header %}
<div>
    <strong>"{{ request.user }}" さん</strong>
    <h1>Detail</h1>
</div>
{% endblock header %}

{% block inner_content %}
<div class="container">
    <div class="alert {{ task.priority.get_alert_class }}" role="alert">
        <h4>タスク：</h4>
        <ul>
            {{ task.task_name }}
        </ul>
        <h4>詳細：</h4>
        <ul>
            {{ task.task_detail|linebreaks }}
        </ul>
    </div>

    <a href="{% url 'TaskApp:list' %}" class="btn btn-secondary">戻る</a>
</div>
{% endblock inner_content %}